body {
  font-family: 'Arial', sans-serif;
  background: #D5C1EB; /* Soft purple background */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.windows-container {
  display: flex; /* Aligns children (windows) horizontally */
  justify-content: center; /* Center the windows horizontally in the container */
  align-items: flex-start; /* Aligns items at the start of the cross axis */
  gap: 20px; /* Space between the windows */
  padding: 20px; /* Space around the container's content */
  flex-wrap: wrap; /* Allow the windows to wrap on smaller screens */
  position: relative;
  width: 100vw;
  height: 100vh;
}

.window, .secondary-window, .third-window {
  position: absolute; /* Absolute positioning relative to their closest positioned ancestor */
  z-index: 1; /* Base z-index */
}

.window {
  background: #e20587; /* Light pink for window background */
  border: 3px outset #FF7FB0; /* Bright pink for window 3D border effect */
  /*outline: 2px solid black; Outer black border */
  width: 90vw; /* Responsive width */
  max-width: 410px; /* Maximum width */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  overflow: hidden; /* Ensures nothing spills outside the border */
}

.window-body {
  padding: 10px;
  background: #FFF; /* White background for the content area */
  display: flex;
  flex-direction: column;
}

.secondary-window {
  
}

.tertiary-window{
  border: 3px outset #8B4513 !important; /* A shade of brown */
}

.title-bar-brown {
  background-color: #8B4513 !important; /* A shade of brown */
  color: white !important; /* Adjust text color as needed */
}

.content-section {
  display: flex;
  justify-content: space-between;
}

#colorPercentageChart {
  max-width: 400px;
  max-height: 400px;
}

.date-issued-section {
  margin-left: auto; /* Pushes the date to the right */
  padding-right: 10px; /* Ensures some spacing from the edge */
  font-size: 0.8em; /* Adjust size as needed */
}

.title-bar {
  background: #FF7FB0; /* Bright pink for the title bar */
  color: white;
  padding: 0.5vw; /* Responsive padding */
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1vw; /* Responsive font size */
  word-spacing: 1vw;
}

.title-text {
  font-weight: bold;
}

.menu-bar {
  background: #e20587; /* Light pink for the menu bar */
  color: black;
  padding: 1vw 1.5vw; /* Responsive padding */
  display: flex;
  justify-content: space-between; /* Changed to space-between to push children to edges */
  align-items: center;
  font-size: 1vw; /* Responsive font size */
  position: relative; /* Added to position the controls absolutely within */
}

.menu-bar-controls {
  display: flex;
}

.menu-bar-controls button {
  width: 2.5vw;
  height: 2.5vw;
  margin-left: 0.5vw;
  border: none;
  background: #FF7FB0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5vw; /* Adjust font size as needed */
  cursor: pointer;
}

.minimize, .maximize, .close {
  user-select: none; /* Prevent text selection */
}

#personalityTraitImage {
  max-width: 50%; /* Adjust the size of the image */
  display: block; /* Allows margin: auto to center the image */
  margin: 20px auto; /* Adds top and bottom spacing, and centers horizontally */
  height: auto; /* Maintains aspect ratio */
}

@media (max-width: 600px) {
  .title-bar, .menu-bar, .window-body {
    font-size: 12px; /* Minimum font size */
  }

  .title-bar-controls button {
    width: 20px; /* Fixed width */
    height: 20px; /* Fixed height */
  }
}
